DATABASE_URL=postgresql://ypur-name:your-password@localhost:5432/your-db-name


NODE_ENV=development
PORT=3005
API_SECRET=fa89b5cfae92682aaaf4891b9899a010


CLOUDINARY_URL=cloudinary://486187848122168:IJ5B7s1-UqtOA0Fjlqn_Kc2h4b4@dwstdulkd


WEBHOOK_URL=https://steelless-trustlessly-nahla.ngrok-free.dev


# ─── Telegram ───────────────────────────────────────────────
TELEGRAM_BOT_TOKEN=8543056766:AAHvHRU8OEM6wlvN3JtrmxzLDWQcoi8U5Lw
MINI_APP_URL=https://moonsulinkminiapp.vercel.app

UNIPILE_DSN=https://api36.unipile.com:16688
UNIPILE_API_KEY=3VolrJl2.IR3K7VOvtPZGVngqnJ7nd6kD3m2C5CPJFdlJcXz7Vmo=
UNIPILE_ACCOUNT_ID=KBW_3hWTS22xJZ1Xet_udg
UNIPILE_ENABLED=true
UNIPILE_BASE_URL=https://api36.unipile.com:16688

OPEN_API_KEY=your_openai_api_key_here
OPENAI_MODEL=gpt-4o-mini
# Set to "true" to enable AI fallback for unrecognized commands
OPENAI_ENABLED=false

VITE_API_URL=http://localhost:3001
